@font-face {
  font-family: "Satisfy";
  src: url("../assets/fonts/Satisfy-Regular.ttf") format("tff");
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../assets/fonts/RobotoMono-Regular.ttf") format("tff");
}

@font-face {
  font-family: "Play";
  src: url("../assets/fonts/Play-Regular.ttf") format("tff");
}

#root {
  color: #333;
  background-color: #f6f6f6;
  height: 100vh;
  overflow: auto;
}

.main {
  display: grid;
  margin: 40px auto 0;
  padding: 0 45px 80px;
  max-width: 1350px;
  gap: 40px;
  grid-template-columns: minmax(180px, 280px) 1fr;
}
