.filterRange {
  display: flex;
  flex-direction: column;
  gap: 25px;

  &Title {
    font-size: 22px;
    color: #333;
  }

  .filterSlider {
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: 4px;
    width: 94%;
    margin: 0 auto;
    cursor: pointer;

    &Thumb {
      width: 20px;
      height: 20px;
      background-color: #000;
      border-radius: 50%;
      border: none;
      cursor: grab;
      margin-top: -7px;
      right: -10px;
      box-shadow: none;
    }

    &Track {
      top: 0px;
      bottom: 0px;
      background: rgb(221, 221, 221);

      &:nth-child(2) {
        background-color: #000;
      }
    }
  }

  &Container {
    display: flex;
    justify-content: space-between;

    .filterRangeValue {
      width: 50px;
      border: none;
      background-color: #fff;
      padding: 7px 7px;
      border-radius: 7px;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%);
      font-size: 20px;
      text-align: center;
      font-family: "Roboto Mono", monospace;

      &:focus {
        outline: none;
      }
    }
  }
}
